.month-calendar-box {
  table {
    height: fit-content;
  }

  th {
    text-align: center;
    height: 2.5em;
    vertical-align: middle;
  }

  td {
    padding: 0 0.6em;
    height: 2em;
    vertical-align: middle;
    text-align: center;
  }
}
