:host {
  th {
    text-align: center;
    height: 2.5em;
    vertical-align: middle;
  }

  tbody tr,
  td {
    height: 2.5em;
    width: 7em;
    vertical-align: middle;
    text-align: center;
  }
}
