:host::ng-deep {
  @media screen {
    .print-only {
      display: none;
    }

    .fit-content {
      width: fit-content;
    }
  }

  @media print {
    .page {
      page-break-after: always;
      page-break-inside: avoid;
      width: 100vw;
      height: 99vh;
    }

    .line {
      width: 100%;
      border-bottom: 1px solid black;
    }
  }
}

.wide {
  width: 256px;
}

.print-button:not(.mat-button-disabled) {
  background-color: #0e2b30;

  &:hover {
    background-color: #00505e;
  }
}
