:host::ng-deep {
  @media screen {
    .print-only {
      display: none;
    }

    .fit-content {
      width: fit-content;
    }

    $width: 300px;
    $font-size: $width * 0.025;

    .page-frame {
      padding: $font-size * 2;
      outline: 1px solid rgb(29, 29, 29);
    }

    .preview-container {
      max-width: $width * 2.2;
    }

    .preview {
      font-size: $font-size !important;
      line-height: $font-size !important;

      .page {
        width: $width;
        height: $width * 1.4 !important;
      }

      .lines-table {
        height: $width * 1.4 !important;
      }
    }
  }

  @media print {
    .page {
      page-break-after: always;
      page-break-inside: avoid;
      width: 100vw;
      height: 99vh;
    }
  }

  .lines-table .line {
    width: 100%;
    border-bottom: 1px solid black;
  }
}

.wide {
  width: 256px;
}

.print-button:not(.mat-button-disabled) {
  background-color: #0e2b30;

  &:hover {
    background-color: #00505e;
  }
}

::ng-deep .year-6 {
  .month-calendar-box {
    height: 14em;
  }
}
