<div class="container-md fit-content py-4 d-print-none">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *transloco="let t; read: 'select-locale'">
      <h3>{{ t("heading") }}</h3>
      <mat-form-field appearance="fill" class="wide">
        <input
          matInput
          aria-label="Locale label"
          formControlName="locale"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of locales$ | async"
            [value]="option.id"
            title="{{ option.id }} {{ option.local }} {{ option.name }}"
            (click)="setLocale(option)"
          >
            {{ option.id }} {{ option.local }} {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div *transloco="let t; read: 'dates'">
      <h3>{{ t("heading") }}</h3>
      <mat-form-field appearance="fill">
        <mat-label>{{ t("label") }}</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate required formControlName="start" />
          <input matEndDate required formControlName="end" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <mat-card-actions class="d-flex justify-content-center">
      <button
        mat-fab
        class="print-button"
        type="submit"
        [disabled]="form.invalid"
        [title]="'print' | transloco"
      >
        <mat-icon>print</mat-icon>
      </button>
    </mat-card-actions>
  </form>

  <div class="row">
    <div class="col-md">
      <div class="preview">
        <calendar-lines [date]="previewDate"></calendar-lines>
      </div>
    </div>
    <div class="col-md">
      <div class="preview">
        <month-days-list [date]="previewDate"></month-days-list>
      </div>
    </div>
  </div>
</div>

<div class="print-only" *ngFor="let date of months$ | async">
  <calendar-lines [date]="date"></calendar-lines>
  <month-days-list [date]="date"></month-days-list>
</div>
