<mat-card class="d-print-none">
  <mat-card-title>Select dates</mat-card-title>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input required [rangePicker]="picker">
        <input
          matStartDate
          required
          formControlName="start"
          placeholder="Start date"
        />
        <input
          matEndDate
          required
          formControlName="end"
          placeholder="End date"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="form.invalid">
        Print
      </button>
    </mat-card-actions>
  </form>
</mat-card>

<div class="print-only" *ngFor="let date of months$ | async">
  <calendar-lines [date]="date"></calendar-lines>
  <month-days-list [date]="date"></month-days-list>
</div>
