/* You can add global styles to this file, and also import other style files */
@media print {
  html,
  body {
    $size: min(2.5vw, 2.5vh);
    font-size: $size !important;
    line-height: $size !important;
  }
}

@media screen {
  .d-flex-preview {
    display: flex;
  }
}

.month-label,
.year-label,
.weekday-label {
  // font-family: "Bebas Neue";
}
